.card.shadow-4-strong.mb-4.ripple-surface-dark.me-4(id='block'+block.index+'chain'+chainId+'well', style='min-width: 600px; max-width: 600px;')
  .card-header.bg-primary.bg-gradient.text-white
    .d-flex.justify-content-between.align-items-center
      h5.mb-0 Block ##{block.index}
      .badge.bg-white.text-primary.rounded-pill #{block.transactions.length} Transactions

  .card-body.bg-white.p-4
    .row.g-4.mb-1
      .col-md-6
        h6.text-uppercase.small.text-muted.fw-bold TIMESTAMP
        .p-3.rounded-3.bg-light
          p.mb-0.small #{new Date(block.timestamp * 1000).toLocaleString()}
      .col-md-6
        h6.text-uppercase.small.text-muted.fw-bold NONCE
        .p-3.rounded-3.bg-light
          p.mb-0.text-primary.small #{block.proof}
    hr.hr.hr-blurry
    .mb-1
      h6.text-uppercase.small.text-muted.fw-bold PREVIOUS BLOCK HASH
      .p-3.rounded-3.bg-light
        p.mb-0.font-monospace.text-break.small #{block.previous_hash}

    if block.transactions.length > 0
      h6.text-uppercase.small.text-muted.fw-bold TRANSACTIONS
      .table-responsive
        table.table.align-middle.mb-0.table-sm
          tr
            th.w-25 Amount
            th.w-10
            th.w-25 Sender
            th.w-15
            th.w-25 Receiver
          tbody
            each tx in block.transactions
              tr.border-bottom
                td.text-primary #{tx.amount}
                td.text-primary.fw-bold φ
                td.small.text-truncate #{tx.sender}
                td.text-center
                  i.fas.fa-arrow-right.text-primary
                td.small.text-truncate #{tx.receiver}
    .mb-4.card-footer
      hr.hr.hr-blurry
      h6.text-uppercase.small.text-muted.fw-bold BLOCK HASH
      .p-3.rounded-3.bg-light
        p.mb-0.font-monospace.text-break.small #{block.hash}